@model NWBA.Models.customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>customer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.custID, "login")
        </div>
        <div class="editor-field">
            @Html.DropDownList("custID", String.Empty)
            @Html.ValidationMessageFor(model => model.custID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.custName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.custName)
            @Html.ValidationMessageFor(model => model.custName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TFN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TFN)
            @Html.ValidationMessageFor(model => model.TFN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateCreated)
            @Html.ValidationMessageFor(model => model.dateCreated)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
